<h1>编辑模板文件夹</h1>

<% form_for(@mustache_render_folder, :url => mustache_render_manager_folder_url(@mustache_render_folder)) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

<% end %>

<%= link_to "返回列表", mustache_render_manager_folders_url %>
<%= link_to "取消编辑", mustache_render_manager_folder_url(@mustache_render_folder) %>

