<h1>编辑模板文件夹</h1>

<% if MustacheRender.adapter.rails_2? %>
  <%= render :partial => 'edit_2' %>
<% else %>
  <%= render :partial => 'edit_3' %>
<% end %>

<%= link_to "返回列表", mustache_render_manage_folders_url %>
<%= link_to "取消编辑", mustache_render_manage_folder_url(@mustache_render_folder) %>

