<h1>编辑模板文件</h1>

<% form_for(@mustache_render_template, :url => mustache_render_manager_folder_template_url(
  :folder_id => @mustache_render_template.folder_id,
  :id => @mustache_render_template.id
)) do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<% end %>

<%#= link_to "返回列表", mustache_render_manager_folder_templates_url(:folder_id => @mustache_render_template.folder_id) %>
<%= link_to "返回上一级", mustache_render_manager_folder_url(:folder_id => @mustache_render_template.folder_id) %>
<%= link_to "取消编辑", mustache_render_manager_folder_template_url(:folder_id => @mustache_render_template.folder_id, :id => @mustache_render_template.id) %>

