<h1>编辑模板历史文件</h1>

<% if MustacheRender.adapter.rails_2? %>
  <%= render :partial => 'edit_2' %>
<% else %>
  <%= render :partial => 'edit_3' %>
<% end %>

<%#= link_to "返回列表", mustache_render_manage_folder_templates_url(:folder_id => @mustache_render_template.folder_id) %>

<%= link_to "返回上一级", mustache_render_manage_folder_template_url(
  :folder_id   => @mustache_render_template_version.folder_id,
  :template_id => @mustache_render_template_version.template_id,
  :id          => @mustache_render_template_version.id
)
%>
<%= link_to "取消编辑", mustache_render_manage_folder_template_template_version_url(
  :folder_id   => @mustache_render_template_version.folder_id,
  :template_id => @mustache_render_template_version.template_id,
  :id          => @mustache_render_template_version.id
) %>

